body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    text-align: center;
    margin: 0;
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}